{
  "env": {
    "browser": true,
    "node": true,
    "es2020": true
  },
  "extends": ["google"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 11
  },
  "rules": {
    "require-jsdoc": "off",
    "comma-dangle": "off"
  },
  "ignorePatterns": [
    ".eslintrc",
    "**/dist/*",
    "package.json",
    "package.lock.json",
    "webpack.config.js",
    ".babelrc"
  ]
}
